@import "../../helpers/helpers.scss";

.card {
    img{
        margin: auto;
    }
    .card_title {
        text-align: center;
    }

    .card_info {
        min-height: 67px;
        text-align: center;
        padding: 10px 0px 0;
    }

    .year {
        text-align: center;
        padding-top: 50px;
        position: relative;
        @media screen and (max-width: 767px) {
            padding-top: 30px;
        }     

        &::after {
            content: '';
            width: 100px;
            height: 2px;
            left: 50%;
            top: 25px;
            position: absolute;
            background-color: #DACCB9;
            transform: translateX(-50%);
            @media screen and (max-width: 767px) {
                top: 15px;
            }   
        }
    }

    .button_Section{
        margin-top: 30px;
        text-align: center;
    }
}