@import "../../helpers/helpers.scss";

.publications {
    .publications_section {
            .button_center{
                @media screen and (max-width: 767px) {
                    margin-top: 25px;
                }
            }

        .card_section {
            display: grid;
            grid-row-gap: 30px;
            grid-column-gap: 10px;
            grid-template-columns: repeat(4, 1fr);
            @media screen and (max-width: 767px) {
                grid-template-columns: repeat(1, 1fr);
            }

            @media only screen and (min-width: 768px) and (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
               }
               @media only screen and (min-width: 993px) and (max-width: 1200px) {
                grid-template-columns: repeat(3, 1fr);
               }
        }
    }
}